body {
  font-family: Arial, sans-serif;
  background-color: #cfe9ec;
  color: #333;
  margin: 0;
  padding: 0;
}


.navbar {
  background-color: #6bd3df;
  overflow: hidden;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  margin-bottom: 20px;
}

.navbar a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border-radius: 5px;
}

.navbar a:hover {
  background-color: #555;
}

.navbar a {
  margin: auto;
}

h1, h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}

h3 {
  margin-bottom: 1rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}
 
form {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;

  /* New styles for centering buttons */
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  display: block;
  font-size: 0.9rem;
  margin-bottom: 5px;
}

input,
select {
  width: 100%;
  font-size: 0.8rem; /* Updated font-size */
  padding: 6px; /* Updated padding */
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
}

input[type="submit"] {
  width: auto;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 1rem;
  transition: 0.3s;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

p {
  text-align: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 0 auto 20px;
  max-width: 500px;
}

.back-button {
  width: auto;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 1rem;
  transition: 0.3s;
}

.back-button:hover {
  background-color: #0056b3;
}

table {
  border-collapse: collapse;
  width: 90%; /* Set width to 90% */
  margin: 0 auto; /* Center the table */
  background-color: #fff; /* Set white background */
  border-radius: 20px; /* Add border radius */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
  border: 1px solid #007bff; /* Set blue border */
  padding: 8px;
  text-align: center;
}